<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298008551102-rjpjqppdetf1t1gfhtnmb07oe1luj6jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298008551102-rjpjqppdetf1t1gfhtnmb07oe1luj6jj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdi9MGwZRzUEr0lWCgTnC8AWvc1_M_w9c</string>
	<key>GCM_SENDER_ID</key>
	<string>298008551102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbc.attendance.tbcAttendanceApplication</string>
	<key>PROJECT_ID</key>
	<string>tbc-hr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tbc-hr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298008551102:ios:041b3d571bf09b48b508ef</string>
</dict>
</plist>